@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50;
}

button {
  cursor: pointer;
}
